# Entorno virtual
venv/

# Archivos de configuración sensibles
config.ini
.env
pyvenv.cfg
# Archivos compilados de Python
*.pyc
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de salida (si generas reportes o logs)
logs/
*.log

#archivos python
run.py
